* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    zoom: 100%;
    background-color: #07172B;
    
}

:root{
    --text-color : #fff;
    --bg-color : #07172B;
    --main-color : rgb(7,171,103)
}

#navbar{
    padding-bottom: 5rem;

}

#footer{
    padding-top: 2rem;
}

.icon-container i{
    color: var(--text-color);
    font-size: 22px;
}

.icon-container i:hover{
    color: var(--main-color);
}